<!-- <div class="dropdown" *ngIf="isDropdownOpen">
  <div class="triangle"></div>
  <div class="dropdown-line" (click)="onEditRecipe()">
    <fa-icon class="icon" [icon]="faEdit"></fa-icon>
    <ion-label>Modifier</ion-label>
  </div>
  <div class="separate"></div>
  <div class="dropdown-line" (click)="onDeleteRecipe()">
    <fa-icon class="icon" [icon]="faTrash"></fa-icon>
    <ion-label>Supprimer</ion-label>
  </div>
</div> -->

<div class="dropdown">
  <div class="dropdown-line" (click)="onEditRecipe()">
    <fa-icon class="icon" [icon]="faEdit"></fa-icon>
    <ion-label>Modifier</ion-label>
  </div>
  <div class="separate"></div>
  <div class="dropdown-line" (click)="onDeleteRecipe()">
    <fa-icon class="icon" [icon]="faTrash"></fa-icon>
    <ion-label>Supprimer</ion-label>
  </div>
</div>

