@media screen and (min-width: 768px) {
  .hide-toolbar{
    background-color: #ffffff00 !important;
  }
  .toolbar {
    .menu {
      .menu-icon {
        color: var(--ion-color-dark) !important;
      }
    }
    .back {
      .back-button {
        color: var(--ion-color-dark) !important;
      }
      .dropdown-button {
        color: var(--ion-color-dark) !important;
      }
      .dropdown {
        border: 1px solid var(--ion-color-dark);
        .icon {
          color: var(--ion-color-dark) !important;
        }
        &::before {
          border-color: transparent transparent var(--ion-color-dark) transparent !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {  
  .hide-toolbar{
    background-color: var(--ion-color-primary) !important;
  }
}

.toolbar {
  width: 100%;
  height: 44px;
  background-color: #ffffff00;
  color: white;
  display: flex;
  justify-content: flex-start;
   
  transition: all 0.3s ease-in-out;
  .menu {
    margin-left: 6px; 
    .menu-icon {
      font-size: 22px;
      margin-top: 8px;
    }
  }
  .back {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 12px;
    .back-button {
      font-family: "Icon";
      font-size: 21px;
      color: var(--ion-color-light);
    }
    .dropdown-button {
      font-size: 22px;      
      color: var(--ion-color-light);
      margin-right: 10px;
    }
    .dropdown {
      border-radius: 10px;
      position: absolute;
      top: 43px;
      right: 0;
      background-color: white;
      font-size: 14px;
      font-family: "Roboto Regular";
      color: var(--ion-color-dark);
      .dropdown-line {
        margin: 15px 20px;
        display: flex;
      }
      .icon {
        margin-right: 15px;
      }
      &::before {
        content: "";
        position: absolute;
        top: -10px;
        right: 8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent white transparent;
      }
      .separate {
        width: 100%;
        height: 1px;
        background-color: var(--ion-color-medium);
      }
    }
  }
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-color: transparent;
}

ion-grid {
  margin-top: -44px;  
  transition: all 0.2s ease-in-out;
}



.recipe-img {
  height: 300px;
  object-fit: cover;
}

.recipe-title {
  background-color: #fcfcfc;
  padding: 13px 15px 8px 14px;
  display: flex;
  justify-content: space-between;
  top: -4px;
  .title {
    font-size: 18px;
    font-family: "Roboto Bold";
    color: var(--ion-color-dark);
    margin: 0;
    max-width: 82%;
  }
  .leaf {
    color: #2ac22a;
    margin-right: 5px;
  }
  .weight {
    color: #309ec0;
    margin-right: 5px;
  }
  .flag-icon {
    transform: scaleX(1.3);
    border: 1px solid #ededed;
  }
}

.recipe-star {
  display: flex;
  justify-content: space-between;
  padding: 3px 14px 0px 13px;
  margin-bottom: 6px;
  background-color: #fcfcfc;
  .stars-container {
    display: flex;
    margin-left: -5px;
    .star-icon {
      transform: rotate(45deg);
      color: var(--ion-color-primary);
      margin-right: 5px;
    }
  }
  p {
    font-size: 14px;
    font-family: "Roboto Light";
    margin-top: 6px;
    color: var(--ion-color-dark);
  }
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  .prep-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p {
      margin: 0;
      font-family: "Roboto Light";
      font-size: 14px;
      color: var(--ion-color-dark);
    }
    h2 {
      font-family: "Roboto Bold";
      margin-top: 8px;
      font-size: 17px;
      color: var(--ion-color-primary);
      margin-bottom: 0;
    }
  }
  .divider {
    border-right: 1px solid var(--ion-color-dark);
    width: 1px;
    height: 25px;
  }
}

.ingredient-container {
  margin: 0 15px;
  h3 {
    font-size: 14px;
    font-family: "Roboto Bold";
    color: var(--ion-color-dark);
    margin-bottom: 0;
    margin-top: 21px;
  }
  ion-list {
    ion-item {
      height: 28px;
      margin-left: -15px;
      ion-label {
        font-size: 14px;
        font-family: "Roboto Regular";
        margin-top: 0;
        color: var(--ion-color-dark);
      }
    }
  }
}

.direction-container {
  margin: 0 15px;
  h3 {
    font-size: 14px;
    font-family: "Roboto Bold";
    color: var(--ion-color-dark);
    margin-bottom: 0;
    margin-top: 21px;
  }
  ion-list {
    .step {
      display: flex;
      flex-direction: column;
      &:last-child {
        margin-bottom: 20px;
      }
      h5 {
        font-size: 14px;
        font-family: "Roboto Regular";
        color: var(--ion-color-dark);
        margin-bottom: 0;
      }
      ion-label {
        font-size: 14px;
        font-family: "Roboto Light";
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--ion-color-dark);
      }
    }
  }
}
