<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="onCancel()" slot="start">
        <fa-icon [icon]="faTimes"></fa-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="title">Nouvelle recette</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="onCreateRecipe()" slot="primary">
        <fa-icon [icon]="faCheck"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="8" offset-sm="2">
          <h2 style="margin-top: 0;">Informations</h2>
          <p class="baseline">Veulliez renseigner les informations sur la recette</p>
          <ion-item>
            <ion-label position="floating">Nom de la recette</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="recipeName"
              [value]="Recipe ? Recipe.title: ''"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-sm="8" offset-sm="2">
          <ion-item>
            <ion-label>Type de plat</ion-label>
            <ion-select ok-text="OK" cancel-text="Annuler" formControlName="recipeType"
              [value]="Recipe ? Recipe.type : ''">
              <ion-select-option value="appetizer">Entrée</ion-select-option>
              <ion-select-option value="main">Plat principal</ion-select-option>
              <ion-select-option value="dessert">Dessert</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Prépartion (min) </ion-label>
            <ion-input type="number" formControlName="prep" [value]="Recipe ? Recipe.prepTime : ''"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Cuisson (min) </ion-label>
            <ion-input type="number" formControlName="cook" [value]="Recipe ? Recipe.cookingTime : ''"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nb Personne </ion-label>
            <ion-input type="number" formControlName="yields" [value]="Recipe ? Recipe.yields : ''"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Pays</ion-label>
            <ion-select ok-text="OK" cancel-text="Annuler" formControlName="country">
              <ion-select-option *ngFor="let country of countryList" value="{{country.value}}">{{country.text}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-item lines="none">
            <ion-label>Est-ce un plat végétarien ?</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="switch-container">
          <ion-item lines="none">
            <ui-switch size="small" [checked]="vegieSwitch" (change)="onSwitchChange('vegieSwitch')" color="#F9B191"
              formControlName="vegieSwitch"></ui-switch>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-item lines="none">
            <ion-label>Est-ce un plat équilibré ?</ion-label>
          </ion-item>
        </ion-col>
        <ion-col class="switch-container">
          <ion-item lines="none">
            <ui-switch size="small" [checked]="healthySwitch" (change)="onSwitchChange('healthySwitch')" color="#F9B191"
              formControlName="healthySwitch"></ui-switch>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <h2>Evaluation</h2>
          <p class="baseline">Notez cette recette</p>
          <star-rating [value]="Recipe ? stars : 0" totalstars="5" checkedcolor="#F9B191" uncheckedcolor="#DFDFDF"
            size="28px" readonly="false" (rate)="onRate($event)" ></star-rating>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" class="lines-container">
        <ion-col>
          <h2>Ingrédients</h2>
          <p class="baseline">Ajoutez les ingrédients de la recette</p>
          <!-- <div *ngFor="let ingredients of ingredientsControl.controls; let i = index">
            <div [formGroup]="ingredients">
              <ion-item>
                <ion-input type="text" formControlName="value" placeholder="Ingrédient {{ i + 1 }}"> </ion-input>
                <fa-icon [icon]="faTrash" (click)="removeLine('ingredients', i)" class="trash-icon"></fa-icon>
              </ion-item>
            </div>
          </div> -->
          <ion-item *ngFor="let ingredient of ingredients; let i = index">
            <ion-input id="i" #ingredientInput formControlName="ingredients" type="text"
              placeholder="Ingrédient {{ i + 1 }}" [value]="this.ingredients[i]"> </ion-input>
            <fa-icon [icon]="faTrash" (click)="removeLine('ingredients', i)" class="trash-icon"></fa-icon>
          </ion-item>

          <ion-button (click)="addLine('ingredients')">
            <fa-icon [icon]="faPlus" class="add-icon"></fa-icon>
            <ion-label>Ajouter un ingrédient</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center" class="lines-container">
        <ion-col>
          <h2>Préparation</h2>
          <p class="baseline">Ajoutez les étapes de préparation de la recette</p>

          <ion-item *ngFor="let step of steps; let i = index">
            <ion-textarea #stepsInput formControlName="steps" type="text"
              placeholder="Etape {{ i + 1 }}" [value]="this.steps[i]"> </ion-textarea>
            <fa-icon [icon]="faTrash" (click)="removeLine('steps', i)" class="trash-icon"></fa-icon>
          </ion-item>

          <ion-button (click)="addLine('steps')">
            <fa-icon [icon]="faPlus" class="add-icon"></fa-icon>
            <ion-label>Ajouter une étape</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>      
      <ion-row>
        <ion-col>
          <h2>Photo</h2>
          <p class="baseline">Ajoutez une photo</p>
          <app-image-picker [showPreview]="form.get('image').value" (imagePick)="onImagePicked($event)">
          </app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>