<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="onCancel()" slot="start">
        <fa-icon [icon]="faTimes"></fa-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="title">Nouvelle recette</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="light" (click)="onCancel()" slot="primary">
        <fa-icon [icon]="faCheck"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>