<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="m1">
        <fa-icon class="menu-icon" [icon]="faBars"></fa-icon>
      </ion-menu-button>
    </ion-buttons>
    <h3>Mes favoris</h3>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" >
    <ion-item *ngFor="let favorit of favoritesList">
      <ion-reorder slot="start"></ion-reorder>
      <ion-label>
        {{ favorit.title }}
      </ion-label>
    </ion-item>
  </ion-reorder-group>

</ion-content>