h3 {
    margin-top: 2px;
    margin-left: 12px;
    font-family: "Roboto bold";
    color: var(--ion-color-dark);
    font-size: 21px;
  }

  .menu-icon {
    font-size: 22px;
    margin-top: -7px;
  }

  .header-md:after {
    height: 0;
  }

  ion-toolbar {
    --color: white;
    --border-width: 0 0 0 !important;
  }

  p{
    color: var(--ion-color-medium);
    margin-top: -5px;
    margin-bottom: 3px;
    font-size: 15px;
  }

  .item-icon{
    color: var(--ion-color-primary);
    font-size: 15px;
    margin-left: 13px;
  }