<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="ion-no-padding">
        <ngx-carousel [inputs]="carouselOne" [moveToSlide]="1" >
          <ngx-item NgxCarouselItem>
            <h1 color="light" >Entrées</h1>
            <ion-img src="../../../assets/img/apetizer.jpeg" class="carrousel-img"></ion-img>
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <h1>Plats principals</h1>
            <ion-img src="../../../assets/img/main.jpeg" class="carrousel-img"></ion-img>
          </ngx-item>
          <ngx-item NgxCarouselItem>
            <h1 color="light" >Desserts</h1>
            <ion-img src="../../../assets/img/desert.jpeg" class="carrousel-img"></ion-img>
          </ngx-item>
          <button NgxCarouselPrev class="hidden"></button>
          <button NgxCarouselNext class="hidden"></button>
        </ngx-carousel>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>