<ion-header mode="ios">
  <div class="toolbar" id="bar">
    <div class="menu">
      <ion-buttons slot="start">
        <ion-menu-button color="light" menu="m1">
          <fa-icon class="menu-icon" [icon]="faBars"></fa-icon>
        </ion-menu-button>
      </ion-buttons>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true"  [scrollEvents]="true"  (ionScroll)="onScrole($event)">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-slides pager="true" [options]="slideOpts">
          <ion-slide [routerLink]="['/', 'home', 'tabs', 'recipes', 'appetizer']">
            <h1 color="light">Entrée</h1>
            <ion-img src="../../../assets/img/apetizer.jpeg" class="carrousel-img"></ion-img>
          </ion-slide>
          <ion-slide [routerLink]="['/', 'home', 'tabs', 'recipes', 'main']">
            <h1>Plat principal</h1>
            <ion-img src="../../../assets/img/main.jpeg" class="carrousel-img"></ion-img>
          </ion-slide>
          <ion-slide [routerLink]="['/', 'home', 'tabs', 'recipes', 'dessert']">
            <h1 color="light">Dessert</h1>
            <ion-img src="../../../assets/img/desert.jpeg" class="carrousel-img"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding" *ngIf="!isLoading && this.favoritesList.length >= 0">
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-no-padding">
        <div *ngFor="let favorite of favoritesList" class="carousel" >
          <h2>{{ favorite.title }}</h2>
          <ngx-slick-carousel [config]="slideConfig" class="caroussel-container">
            <div ngxSlickItem class="recipe-item" *ngFor="let recipe of favorite.favoritesList">
              <div (click)="onRecipeClick(recipe.id, recipe.type)">
                <img src="{{ recipe.imageUrl }}" alt="" width="82px" height="82px">
                <span>{{ getRecipeTitle(recipe.title) }}</span>
                <div class="stars-container">
                <div *ngFor="let star of recipe.stars" class="star-icon">
                  <fa-icon [icon]="faStar" *ngIf="star"></fa-icon>
                  <fa-icon [icon]="faStar2" *ngIf="!star"></fa-icon>
                </div>
              </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && this.favoritesList.length === 0">
    <ion-row>
      <ion-col size-md="8" offset-md="2" class="ion-no-padding">
        <div class="no-recipe-list-border">
          <div class="no-recipe-list">
           <h4>Vous n'avez aucun favoris !</h4>
           <p>Pour ajouter un favoris, il vous suffit de cliquer sur 
             <fa-icon [icon]="faBars" class="icon"></fa-icon>, 
             puis d'aller dans la section favoris 
             <fa-icon [icon]="faHeart" class="icon"></fa-icon></p>
           <ion-button mode="ios" class="fav-button" expand="block" (click)="onAddFavorite()">
            Ajouter mon premier favoris
          </ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>