h3 {
  margin-top: 2px;
  margin-left: 12px;
  font-family: "Roboto bold";
  color: var(--ion-color-dark);
  font-size: 21px;
}
ion-back-button {
  font-family: "Icon";
  font-size: 21px;
  margin: -3px -5px 0 0px;
  width: 26px;
}

.no-recipe-content{
  margin-top: 20px;
  text-align: center;
  .no-recipe-text {
    color: var(--ion-color-medium);
  }
  .add-button {
    font-family: "Roboto Bold";
    font-size: 15px;
    --border-radius: 0px;
    --color: var(--ion-color-light);
    --background-color: var(--ion-color-primary);
    margin-top: 10px;
    .icon{
      margin-right: 7px;
    }
  }
}



.menu-icon {
  font-size: 22px;
  margin-top: -7px;
}

.header-md:after {
  height: 0;
}
ion-toolbar {
  --color: white;
  --border-width: 0 0 0 !important;
}
ion-grid {
  .spinner {
    width: 100%;
    justify-content: center;
    display: flex;
  }
}

ion-row {
  margin-top: -22px;
  ion-list {
    margin-bottom: -24px;
    .card {
      margin: 0 0;
      border-radius: 0;
      padding: 0 20px;
      box-shadow: none;
      width: 100%;
      ion-img {
        height: 206px;
        width: 100%;
        object-fit: cover;
        background-color: #ebebeb;
      }
      .header {
        background-color: #fcfcfc;
        padding: 8px 10px;
        display: flex;
        justify-content: space-between;
        top: -4px;
        .title {
          font-size: 18px;
          font-family: "Roboto light";
          color: var(--ion-color-dark);
        }
        .leaf {
          color: #2ac22a;
          margin-right: 5px;
        }
        .weight {
          color: #309ec0;
          margin-right: 5px;
        }
        .flag-icon {
          transform: scaleX(1.3);
          border: 1px solid #ededed;
        }
      }
      .content {
        display: flex;
        justify-content: space-between;
        padding: 5px 10px 7px 10px;
        margin-top: -6px;
        margin-bottom: 6px;
        background-color: #fcfcfc;
        .stars-container {
          display: flex;
          margin-top: -6px;
          .star-icon {
            transform: rotate(45deg);
            color: var(--ion-color-primary);
            margin-right: 5px;
          }
        }
        p {
          font-size: 14px;
          font-family: "Roboto Light";
        }
      }
    }
  }
}
