.back-button {
  position: absolute;
  top: 3px;
  left: 30px;
  font-family: "Icon";
  font-size: 21px;
  margin: 6px -8px 0 -26px;
}

.recipe-img {
  height: 300px;
  object-fit: cover;
}

.recipe-title {
  background-color: #fcfcfc;
  padding: 13px 15px 8px 14px;
  display: flex;
  justify-content: space-between;
  top: -4px;
  .title {
    font-size: 18px;
    font-family: "Roboto Bold";
    color: var(--ion-color-dark);
    margin: 0;
  }
  .leaf {
    color: #2ac22a;
    margin-right: 5px;
  }
  .heartbeat {
    color: #ff7dd1;
    margin-right: 5px;
  }
  .flag-icon {
    transform: scaleX(1.3);
  }
}

.recipe-star {
  display: flex;
  justify-content: space-between;
  padding: 3px 14px 0px 13px;
  margin-bottom: 6px;
  background-color: #fcfcfc;
  .stars-container {
    display: flex;
    margin-left: -5px;
    .star-icon {
      transform: rotate(45deg);
      color: var(--ion-color-primary);
      margin-right: 5px;
    }
  }
  p {
    font-size: 14px;
    font-family: "Roboto Light";
    margin-top: 6px;
    color: var(--ion-color-dark);
  }
}

.time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  .prep-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    p {
      margin: 0;
      font-family: "Roboto Light";
      font-size: 14px;
      color: var(--ion-color-dark);
    }
    h2 {
      font-family: "Roboto Bold";
      margin-top: 8px;
      font-size: 17px;
      color: var(--ion-color-primary);
      margin-bottom: 0;
    }
  }
  .divider {
    border-right: 1px solid var(--ion-color-dark);
    width: 1px;
    height: 25px;
  }
}

.ingredient-container {
  margin: 0 15px;
  h3 {
    font-size: 14px;
    font-family: "Roboto Bold";
    color: var(--ion-color-dark);
    margin-bottom: 0;
    margin-top: 21px;
  }
  ion-list {
    ion-item {
      height: 28px;
      margin-left: -15px;
      ion-label {
        font-size: 14px;
        font-family: "Roboto Regular";
        margin-top: 0;
        color: var(--ion-color-dark);
      }
    }
  }
}

.direction-container {
  margin: 0 15px;
  h3 {
    font-size: 14px;
    font-family: "Roboto Bold";
    color: var(--ion-color-dark);
    margin-bottom: 0;
    margin-top: 21px;
  }
  ion-list {
    .step {
      display: flex;
      flex-direction: column;
      &:last-child{
        margin-bottom: 20px;
      }
      h5{
        font-size: 14px;
        font-family: "Roboto Regular";
        color: var(--ion-color-dark);
        margin-bottom: 0;
      }
      ion-label {
        font-size: 14px;
        font-family: "Roboto Light";
        margin-top: 0;
        margin-bottom: 10px;
        color: var(--ion-color-dark);
      }
    }
  }
}
